fastapi
uvicorn
langgraph
pydantic
chromadb
langchain
langchain-openai
requests
slowapi
langchain[google-genai]
python-dotenv
boto3
pytest
mypy
ruff
isort
setuptools
duckduckgo-search
beautifulsoup4
rank-bm25
