project_id          = "anim-482714"
region              = "us-central1"
repo_name           = "numerix-repo"
api_service_name    = "numerix-api"
worker_service_name = "manim-worker"

api_image    = "us-central1-docker.pkg.dev/anim-482714/numerix-repo/numerix:latest"
worker_image = "us-central1-docker.pkg.dev/anim-482714/numerix-repo/manim-worker:latest"

openai_api_key        = "your-openai-api-key"
langsmith_api_key     = "your-langsmith-api-key"
langsmith_project     = "numerix"
langsmith_tracing     = "true"
chroma_api_key        = "your-chroma-api-key"
chroma_tenant         = "your-chroma-tenant"
chroma_database       = "your-chroma-database"
r2_account_id         = "your-r2-account-id"
r2_access_key_id      = "your-r2-access-key-id"
r2_secret_access_key  = "your-r2-secret-access-key"
r2_bucket             = "manim-videos"
